body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  font-family: Arial;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgba(255,255,255,0.1);
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
}

button {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #00c6ff;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #00f2fe;
}
